[Desktop Entry]
Name=QQ
Exec=linuxqq --ozone-platform-hint=auto --enable-wayland-ime %U
Terminal=false
Type=Application
Icon=qq
StartupWMClass=QQ
Categories=Network;
Comment=QQ
